#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: 'Cinzel', serif;
}

button {
  font-family: 'Cinzel', serif;
}

/* Custom Scrollbar for Inventory */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #400;
  border: 1px solid #daa520;
}
::-webkit-scrollbar-thumb:hover {
  background: #600;
}
